* {
    box-sizing: border-box;
}

section {
    width: 1100px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #C4C4C4;
}

.wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E6E6E6;
}

.float-box-large {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
    padding-top: 62.5px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

.p-large {
    font-size: 64px;
    line-height: 75px;
}

.middle-cont {
    margin-top: 50px;
    margin-bottom: 50px;
}

.float-box-small {
    width: 100px;
    height: 100px;
    background-color: #FC8F8F;
    padding-top: 29px;
}

.p-small {
    font-size: 36px;
    line-height: 42px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin-right {
    margin-right: 15px;
}